.sidebar>div{
    width: 250px;
    margin-left: 100%;
    animation: slide 2s forwards;
}

@keyframes slide{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-240px);
    }
}
.navbar{
    backdrop-filter: blur(10px);
}
.cards{
    position: absolute;
    right: 100px;
    top: 60%;
    position: fixed;
    z-index: 999;

}
@media(max-width: 768px){
    .cards{
        top: 79%;
        right: 70px;
    }
}
@media(max-width: 479px){
    .cards{
        top: 45%;
        right: 20px;
    }
}
.items{
    width: 100%;
    background-color: gray;
    opacity: 0.5;
    animation: delay .2s;
}