.bg-image1 {
    height: 70vh;
   
  
 
    position: relative; /* To position the overlay correctly */
    background-color: rgba(52, 38, 27, 0.67)
}

.bg-image1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background: url('../assets/bg1.jpg') no-repeat center center/cover;
    /* Adjust the opacity here */
    z-index: -1; /* Place the background below other content */
    opacity: 1;
   
  
}